#ec {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: blue;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
}

#eb {
    position: absolute;
    top: 95%;
    left: 2%;
    background-color: red;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
}

#dc {
    position: absolute;
    top: 2%;
    left: 85%;
    background-color: purple;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
}

#db {
    position: absolute;
    top: 95%;
    left: 85%;
    background-color: green;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
}